# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#STM32 Cube
CodeForSender/.settings/
CodeForSender/Release/
CodeForSender/Debug/

CodeForReceiver/RTOSReceiver/.settings/
CodeForReceiver/RTOSReceiver/Release/
CodeForReceiver/RTOSReceiver/Debug/